<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Guessing Game</title>
</head>

<body style="background-image: url('{{ url_for('static', filename='images/img.png') }}'); background-size: cover; background-repeat: no-repeat;">
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand font-weight-bold" href="{{ url_for('index') }}">Logout</a>
    </nav>

    <!-- Guessing Game -->
    <div class="container text-center my-5">
        <h1 class="display-4">Guessing Game</h1>
        <form id="FormID" method="POST" action="#" class="form-group">
            <label for="number" class="h5">Enter a number between 1-100</label>
            <input type="text" id="number" name="number" class="form-control my-3" style="max-width: 300px; margin: auto;" placeholder="Enter a number">
            <button type="button" id="submitBtn" class="btn btn-success btn-lg btn-block my-2" onclick="Guess()">Guess</button>
            <button type="button" id="resetBtn" class="btn btn-warning btn-lg btn-block my-2" onclick="Reset()">Reset</button>
        </form>
    </div>
    <!-- Footer -->
    <footer class="text-center py-4">
        <p>Thanks for visiting &copy; 2020</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-JZrw3P2BCvi6GvBejr6DAm+Pj6rN8G96vTJ17LtvVxFI3hX4D+ZVbz8IDxRzj0HX" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>